* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  margin: 2rem auto;
  text-align: center;
  max-width: 50rem;
}

h1 {
  font-size: 2rem;
  margin: 2rem 0 0.5rem;
}

main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}

button {
  border-radius: 0.2rem;
  padding: 0.1rem 0.2rem;
  font-size: 0.7rem;
  font-family: inherit;
  cursor: pointer;
}

.toolbar {
  text-align: right;
}

.toolbar button {
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}
.toolbar button:hover {
  background-color: #d3d3d3;
}

/*  --- Styling for the CV editor -- */

.editor {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

section {
  border: 1px solid #d3d3d3;
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: left;
}

section:hover {
  border: 1px solid black;
}

section > div:first-child {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: last baseline;
}

section h2 {
  font-size: 1.2rem;
}

section button,
section button:hover,
section button:active {
  outline: none;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  gap: 3px;
}

.toolbar button:focus,
section button:focus,
.add-btn:focus {
  outline: 1px solid #d3d3d3;
  border: none;
}

section button span {
  display: inline-block;
  height: 12px;
  width: 12px;
  background-size: contain;
}

hr {
  margin: 0.5rem 0;
  border-top: 1px solid #d3d3d3;
}

form label {
  font-size: 0.8rem;
  font-weight: bold;
}

.asterisk {
  font-weight: normal;
  color: rgb(207, 89, 89);
}

form input {
  border: none;
  display: block;
  background-color: #f0f0f0;
  padding: 0.2rem 0.4rem;
  border-radius: 0.3rem;
  width: 100%;
}

form p,
form input {
  font-size: 0.7rem;
}

.remove-btn {
  background-color: rgb(207, 89, 89);
  color: white;
  margin: 0.5rem 0;
}

.remove-btn:hover {
  background-color: rgb(194, 35, 35);
}

.add-btn {
  margin: 0.5rem 0;
}

/*  --- Styling for the CV viewer -- */

.viewer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem 0.01rem #47474745;
}

.cv-header h2 {
  width: 100%;
  font-size: 1.7rem;
}
.cv-header div {
  display: flex;
  gap: 1rem;
  font-size: 0.85rem;
  justify-content: center;
}

.cv-section {
  text-align: left;
}

.cv-section h3 {
  font-size: 1rem;
  color: #3962bd;
}

.cv-entry {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 0.7rem 0 0.5rem;
  font-size: 0.85rem;
}

.cv-entry > p:first-of-type {
  text-align: right;
  font-size: 0.75rem;
}

.cv-entry ul {
  list-style-type: none;
  grid-column: span 2;
}

.cv-entry li {
  font-size: 0.75rem;
}

.cv-entry li::before {
  content: "|";
  margin-right: 0.4rem;
}
